---
import '../css/main.css'
/*import '../js/breakpoints.min.js'
import '../js/browser.min.js'
import '../js/jquery.min.js'
import '../js/jquery.scrollex.min.js'
import '../js/jquery.scrollymin.js'
import '../js/util.js'
import '../js/main.js'**/

export interface Props {
    title: string;
    body: string;
    href: string;
}

const { href, title, body } = Astro.props;
---



<!-- Header -->
<div id="header">
    <div class="top">
        <!-- Logo -->
        <div id="logo">
            <span class="image avatar48"
                ><img src="images/perfil.png" alt="" /></span
            >
            <h1 id="title">{title}</h1>
            <p>{body}</p>
            <p>{href}</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li>
                    <a href="#top" id="top-link"
                        ><span class="icon solid fa-home">Inicio</span></a>
                </li>
                <li>
                    <a href="#portfolio" id="portfolio-link"
                        ><span class="icon solid fa-th">Portfolio</span></a>
                </li>
                <li>
                    <a href="#about" id="about-link"
                        ><span class="icon solid fa-user">Sobre mi</span></a>
                </li>
                <li>
                    <a href="#contact" id="contact-link"
                        ><span class="icon solid fa-envelope">Contacto</span
                        ></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="bottom">
        <!-- Social Icons -->
        <ul class="icons">
            <!--li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li-->
            <li>
                <a
                    href="https://github.com/SebastianDuranV"
                    class="icon brands fa-github"
                    ><span class="label">Github</span></a>
            </li>
            <!--li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li-->
            <li>
                <a href="#" class="icon solid fa-envelope"
                    ><span class="label">Email</span></a>
            </li>
        </ul>
    </div>
</div>
